@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Festive);
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
	background-image: linear-gradient(6deg, #214, #000);
	background-size: 100% 100%;
}

canvas 
 {  z-index: -1;
	display: block;
	position: absolute;
	top: 0%;
	background-image: linear-gradient(6deg, #214, #000);
 }

h1 {
	text-align: center !important;
	
    font-family: "Roboto";
    font-weight: 900;

}
.test {
	color: transparent;
	font-weight: bold;
	transition: 0.5s;
	background-clip: text;
	
	background: url(https://c.tenor.com/7k2yASJxRuEAAAAM/stars-twinkling.gif);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px gold;

    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
	font-size: 5rem;
 }

  @keyframes scale {
	100% {
	  transform: scale(1);
	}
  }
  
  span {
	display: inline-block;
	opacity: 0;
	filter: blur(4px);
	
  }
  
  span:nth-child(1) {
	animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
	animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
	animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(4) {
	animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(5) {
	animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(6) {
	animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(7) {
	animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(8) {
	animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(9) {
	animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(10) {
	animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(11) {
	animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(12) {
	animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(13) {
	animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(14) {
	animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(15) {
	animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(16) {
	animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(17) {
	animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(18) {
	animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  @keyframes fade-in {
	100% {
	  opacity: 1;
	  filter: blur(0);
	}
  }
  
  .orsetto {
	border-style: none;
position: absolute;
top: 0%;
left: 12%;

  }
  .orsettoimg{width: 195px;

}

#modal_wait {
    min-width: 100%;
    margin: 0;
}

#modal_wait .modal-content {
    min-height: 100vh;
    background-color: #fff265;
}

#modal_wait .modal-dialog {
    min-width: 100%;
    margin: 0;
}